

<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>Welcome to the Snail Scale Homepage</h1>
       <link rel="stylesheet" type="text/css" href="css/agile.css" />

  </head>


<div class="butt">
    <a href="./home">
        <button class="nextto">
            Product page
                </button>
    </a>
    <a href="./kvp">
        <button class="nextto">
            KVP page
        </button>
    </a>
</div>
<hr>

<div class="offers">
  <p class="txt">Choose your package</p>
  <button class="off">
     The scale only for $50
    </button>
  <button class="off">
     The scale + annual subscription for $60
    </button>
  <button class="off">
     The scale + annual subscription + meal plan for $70
    </button>
</div>
<hr>
<h2 class="hi"> Image 1 </h2>
    <img src="../images/plate.jpeg" width="500" height="600" class="cen">
        
<hr>
<h3 class="hi"> Image 2 </h3>
<img src="../images/sketch.jpeg" width="500" height="600" class="cen">
    <hr>
    <h4 class="hi"> Image 3 </h4>
    <img src="../images/sket.jpeg" width="500" height="600" class="cen">
<hr>
    <div class="text">
        <ul>
           <li>Jacob's Law: The design of  our product is in a form similar to a regular food scale. The design is a wide open plate. Our design is not meant to push stylistic boundaries, but instead provide a minimalistic design approach to a complex task. This is reflected in the single pillar that houses both the camera and the light, as to not take up more space than needed. As illustrated in image 3.</li>
          <li>Law of Proximity: The product is designed with buttons grouped responsible for the operations of power toggling, tare, changing units from grams to oz, and taking images. Also, the camera and light source are placed together on the tower, and all electronics are hidden underneath the cylindrical outer shell. Steve Jobs would be proud. As illustrated in image 2.</li>
          <li>Hick's Law: We made our UI simple while still being easy to use for the user. Most of the electronics are hidden besides the camera lens, the light, and the scale interface. We designed it to be perceived as a singular 'unit' rather than some complex device. The selection menu would allow the user to take images, view current measurements, select food options and criteria,
              and see food nutritional info (perhaps externally). As illustrated in images 1, 2 and 3.
</li>
          
       </ul>
        </div>
<div class="members">
   Team members:
   <ul>
      <li>Dallas Dominguez</li>
     <li>Sepehr Bostan</li>
     <li>Nihal Azeez</li>
     <li>Salman Noori</li>
  </ul>
</div>


